@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

/* Light Variations */
.inter-light {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300; /* Light */
  font-style: normal;
}

.inter-extra-light {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200; /* Extra Light */
  font-style: normal;
}

/* Regular Variations */
.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Regular */
  font-style: normal;
}

/* Medium Variations */
.inter-medium {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500; /* Medium */
  font-style: normal;
}

/* Semi-Bold Variations */
.inter-semi-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600; /* Semi-Bold */
  font-style: normal;
}

/* Bold Variations */
.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700; /* Bold */
  font-style: normal;
}

/* Extra-Bold Variations */
.inter-extra-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800; /* Extra Bold */
}

/* Black Variations */
.inter-black {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900; /* Black */
}
.oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

}